NODE_ENV=production
PORT=3000
MONGODB_URI=mongodb+srv://<user>:<password>@<cluster>.mongodb.net/final_backend_iii?retryWrites=true&w=majority
MONGODB_DB_NAME=final_backend_iii
SEED_ADMIN_FIRST_NAME=Admin
SEED_ADMIN_LAST_NAME=Backend
SEED_ADMIN_EMAIL=admin.finalbackend@example.com
SEED_ADMIN_PASSWORD=<change-me>
