NODE_ENV=development
PORT=3000
MONGODB_URI=mongodb://localhost:27017/final_backend_iii
MONGODB_DB_NAME=final_backend_iii
SEED_ADMIN_FIRST_NAME=Admin
SEED_ADMIN_LAST_NAME=Backend
SEED_ADMIN_EMAIL=admin.finalbackend@example.com
SEED_ADMIN_PASSWORD=admin123
